<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.chaosmin.framework.module.cdpt.domain.dao.GoodsPlanDAO">
    <sql id="selectExt">
        product_category.category_name,product_category.category_sub_name,
        product.product_code,
        concat('[',product.product_name,']-',product_plan.plan_name,'[',product_plan.primary_coverage,']') as 'goodsName',
        product_plan.coms_ratio as 'max_coms_ratio',
        goods_plan.*
    </sql>

    <select id="getByIdExt" resultType="tech.chaosmin.framework.module.cdpt.domain.dataobject.ext.ProductExt">
        SELECT <include refid="selectExt" />
        FROM product
        left join partner on partner.id = product.partner_id
        left join product_category_relation on product_category_relation.product_id = product.id
        left join product_category on product_category.id = product_category_relation.product_category_id
        where product.id = #{id} and partner.is_deleted = 0
    </select>

    <select id="pageExt" resultType="tech.chaosmin.framework.module.cdpt.domain.dataobject.ext.GoodsPlanExt">
        SELECT <include refid="selectExt" />
        FROM goods_plan
        left join product on goods_plan.product_id = product.id
        left join product_category_relation on product.id = product_category_relation.product_id
        left join product_category on product_category_relation.product_category_id = product_category.id
        left join product_plan on goods_plan.product_plan_id = product_plan.id
        ${ew.customSqlSegment}
    </select>
</mapper> 
