<included>
    <if condition='property("logging.rootPath").length() == 0'>
        <then>
            <property name="logging.rootPath" value="/admin"/>
        </then>
    </if>

    <if condition='property("logging.path").length() == 0'>
        <then>
            <if condition='",test,pre,prd".indexOf(property("spring.profiles.active")) > 0'>
                <else>
                    <property name="logging.path" value="${user.home}/logs/${project.name}"/>
                </else>
                <then>
                    <property name="logging.path" value="${logging.rootPath}/logs/${project.name}"/>
                </then>
            </if>
        </then>
    </if>

    <if condition='property("logging.infoAppender.fileName").length() == 0'>
        <then>
            <property name="logging.infoAppender.fileName" value="all-${project.name}_all"/>
        </then>
    </if>

    <if condition='property("logging.requestInfoAppender.fileName").length() == 0'>
        <then>
            <property name="logging.requestInfoAppender.fileName" value="requestInfo-${project.name}_info"/>
        </then>
    </if>

    <if condition='property("logging.errorAppender.fileName").length() == 0'>
        <then>
            <property name="logging.errorAppender.fileName" value="error-${project.name}_error"/>
        </then>
    </if>

    <property name="TRACE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss:SSS} %5p ${PID:- } [%10.10t] %-42.42(%logger#%line) : %msg%n"/>

    <property name="log.dir" value="${logging.path}"/>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${TRACE_LOG_PATTERN}</pattern>
        </encoder>
        <target>System.out</target>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="infoAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${TRACE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${logging.path}/${logging.infoAppender.fileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/${logging.infoAppender.fileName}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>

    <appender class="ch.qos.logback.classic.AsyncAppender" name="infoAppenderAsync">
        <appender-ref ref="infoAppender"/>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <queueSize>2048</queueSize>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="requestInfoAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %-5p [%c] [%F:%L] - [%X{method}] [%X{requestURIWithQueryString}] [%X{startTime}]
                [%X{costTime}] [%X{status}] [ip=%X{remoteAddr}, realIp=%X{remoteRealIp}, ref=%X{referrer},
                ua=%X{userAgent}, sid=%X{cookie.JSESSIONID}] [%X{requestServerInfo}] %msg%n
            </pattern>
        </encoder>
        <file>${logging.path}/${logging.requestInfoAppender.fileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/${logging.requestInfoAppender.fileName}-%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <appender class="ch.qos.logback.classic.AsyncAppender" name="requestInfoAppenderAsync">
        <appender-ref ref="requestInfoAppender"/>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <queueSize>2048</queueSize>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="errorAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %-5p [%c] [%F:%L] [trace=%X{X-B3-TraceId:-},span=%X{X-B3-SpanId:-}] - %msg%n</pattern>
        </encoder>
        <file>${logging.path}/${logging.errorAppender.fileName}.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/${logging.errorAppender.fileName}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>

    <appender class="ch.qos.logback.classic.AsyncAppender" name="errorAppenderAsync">
        <appender-ref ref="errorAppender"/>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <queueSize>2048</queueSize>
    </appender>

    <logger name="org.apache">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>

    <logger additivity="false" name="tech.chaosmin.framework.web">
        <appender-ref ref="requestInfoAppenderAsync"/>
        <level value="INFO"/>
    </logger>
</included>