<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.chaosmin.framework.dao.DepartmentDAO">
    <select id="pageExt" resultType="tech.chaosmin.framework.dao.dataobject.ext.DepartmentExt">
        SELECT d.*, (select count(*) from user u where u.department_id = d.id) as number_of_user
        FROM department d
        ${ew.customSqlSegment}
    </select>
</mapper> 
