<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.chaosmin.framework.dao.ProductDAO">
    <select id="pageExt" resultType="tech.chaosmin.framework.dao.dataobject.ext.ProductExt">
        SELECT partner.partner_name,
        product_category.id as product_category_id,
        concat(product_category.category_name,' ',product_category.category_sub_name) as category_name,
        product.*,
        (select count(*) from product_plan pp where pp.product_id = product.id) as number_of_plan
        FROM product
        left join partner on partner.id = product.partner_id
        left join product_category_relation on product_category_relation.product_id = product.id
        left join product_category on product_category.id = product_category_relation.product_category_id
        ${ew.customSqlSegment}
    </select>
</mapper> 
